<% if user_signed_in? %>
<h1>Editing entry</h1>

<%= render "form", entry: @entry %>

<br>

  <div>
    <%= link_to "Show this entry", @entry %> |
    <%= link_to "Back to entries", entries_path %>
  </div>
<% else %>
  <p>You must be logged in.</p>
<% end %>
