<p style="color: green"><%= notice %></p>

<h1>Entries</h1>

<div id="entries">
  <ul>
    <% @entries.each do |entry| %>
      <li>
        <%= link_to entry.question + " (" + entry.updated_at.strftime("%b %-d, %Y") + ")", entry %>
      </li>
    <% end %>
  </ul>
</div>

<% if user_signed_in? %>
  <%= link_to "New entry", new_entry_path %>
<% end %>
