.entries {
    ul {
        list-style: none;
        padding: 0;
        margin: 1em 0;
    }
    &__item {
        border-top: 2px solid #333;
        &:last-child {
            border-bottom: 2px solid #333;
        }
        a {
            display: block;
            padding: 1em 0;
            text-decoration: none;
        }
        p {
            margin: 0;
            &:nth-child(2){
                margin-top: -.35em;
                small {
                    color: #666;
                }
            }
        }
        &__tags {
            color: var(--pri);
            font-size: 11px;
            margin: 0;
            span {
                margin: 0 .5em;
                opacity: .5;
                &:last-child {
                    display: none;
                }
            }
        }
    }
}
.entry {
    &__subtitle {
        margin-top: 0;
        color: #888;
    }
    &__answer {
        color: #FFF;
        padding: 1em 2em;
        margin: 1em 0;
        border: 1px solid var(--pri);
        border-left: 10px solid var(--pri);
    }
}