button,
input {
    font: inherit;
    text-transform: inherit;
    letter-spacing: inherit;
}
button,
input[type="submit"] {
    cursor: pointer;
}
label {
    display: block;
}
input[type="text"],
textarea {
    width: 100%;
    max-width: 600px;
}
.form__item {
    margin: .85em 0;
    label {
        margin: .35em 0;
    }
    &[data-type="checkbox"]{
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: flex-end;
        input {
            width: 1.35em;
            height: 1.35em;
            cursor: pointer;
            margin-right: .5em;
        }
    }
}