.header {
    padding: .85em 8vw;
    border-top: 8px solid var(--pri);
    &__btns {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }
    &__main {
        text-align: center;
        a {
            display: inline-block;
            vertical-align: bottom;
            text-decoration: none;
        }
        h1 {
            margin-top: -.25em;
        }
        &__icon {
            font-size: 4em !important;
        }
    }
}

.app--inner {
    .header {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        &__main {
            text-align: left;
            a {
                display: inline-flex;
                align-items: center;
            }
            h1 {
                margin-top: 0;
                margin-left: .5em;
                margin-bottom: -.2em;
                font-size: 1.85em;
            }
        }
    }
}