/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/
@import "_resets";
@import "_base";

@import "_actiontext";
@import "_admin";
@import "_breadcrumbs";
@import "_entries";
@import "_forms";
@import "_header";
@import "_pagy";
@import "_tagging";

@import "_home";

.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.app--inner {
    .main {
        background: rgba(255, 255, 255, .04);
    }
}

.main {
    flex: auto;
    padding: 4vw 8vw;
    background: linear-gradient(#222, rgba(255, 255, 255, .04));
}
.sidebar {
    background: #222;
    border-radius: 1em;
    overflow: hidden;
    padding: 1em;
    margin-top: 2em;
}

@media all and (min-width: 900px) {
    .app--inner {
        .main {
            display: flex;
            flex-wrap: nowrap;
            padding-left: clamp(8vw, calc(50% - 32em), calc(50% - 32em));
            padding-right: clamp(8vw, calc(50% - 32em), calc(50% - 32em));
        }
        .content {
            width: calc(100% - 16em);
            padding-right: 3vw;
        }
        .sidebar {
            flex: 1;
            width: auto;
            margin-top: 0;
        }
    }
}