/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/
@import "_resets";

@import "_admin";
@import "_header";

:root {
    --pri: #2d8772;
}

* {
    box-sizing: border-box;
}

button,
input {
    font: inherit;
    text-transform: inherit;
    letter-spacing: inherit;
}
button,
input[type="submit"] {
    cursor: pointer;
}
label {
    display: block;
}
input[type="text"],
textarea {
    width: 100%;
    max-width: 600px;
}
.form__item {
    margin: .85em 0;
    label {
        margin: .35em 0;
    }
    &[data-type="checkbox"]{
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: flex-end;
        input {
            width: 1.35em;
            height: 1.35em;
            cursor: pointer;
            margin-right: .5em;
        }
    }
}
.main {
    padding: 1em 8vw;
    &__form {
        text-align: center;
    }
}
 
 
///////////////////////
// APP / BODY
///////////////////////
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    min-height: 100vh;
    background: #222;
    font-family: "Nunito", sans-serif;
    color: #d4d4d4;
    font-size: 1.125em;
    line-height: 1.5;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Gugi', sans-serif;
    color: #FFF;
    margin: 0;
    letter-spacing: .05em;
}
h1 {
    font-size: 2.25em;
}
a {
    color: inherit;
    text-decoration-style: dotted;
    &:hover {
        color: #FFF;
    }
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
    color: var(--pri);
}

.entries {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    li {
        border-top: 2px solid #333;
        &:last-child {
            border-bottom: 2px solid #333;
        }
        a {
            display: block;
            padding: 1em 0;
            text-decoration: none;
        }
        p {
            margin: 0;
            &:nth-child(2){
                margin-top: -.35em;
                small {
                    color: #666;
                }
            }
        }
    }
}
.entry {
    &__subtitle {
        margin-top: 0;
        color: #888;
    }
    &__answer {
        color: #FFF;
        padding: 1em 2em;
        margin: 1em 0;
        border: 1px solid var(--pri);
        border-left: 10px solid var(--pri);
    }
}