<% if !@breadcrumbs.nil? %>
<div class="breadcrumbs">
    <ul>
        <% @breadcrumbs.each do |crumb| %>
        <li>
            <%= link_to crumb.text, crumb.path %>
        </li>
        <% end %>
    </ul>
</div>
<% end %>