<header class="header">
    <div class="header__btns">
    <% if !user_signed_in? %>
        <%= button_to "Sign up", new_user_registration_path, method: :get %>
        <%= button_to "Log in", new_user_session_path, method: :get %>
    <% end %>
    </div>
    <div class="header__main">
        <%= link_to raw("<span class='header__main__icon material-symbols-outlined'>cognition</span><h1>Memory Bank</h1>"), root_path %>
    </div>
</header>